/* 전체 요소 모두 선택 */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(236, 244, 255);
    color: black;
}

.c1,
.c2,
.c3,
.c4 {
    background-color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 6px 8px 0px rgba(0,0,0,0.36);
 
}

h1{
    margin: 15px; 
    font-weight: bold;   
}

main>article>p{
    margin: 15px;   
}


header>div {
    font-size: 40px;
    font-weight: bold;
}

header {

    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    height: 200px;
}

div, ul{
    border: 3px;
    margin: 10px;
    padding: 5px;
    display: flex;
    
}

boxx{
    display: flex;
    justify-content: start;
    align-items: center;
  
}


main>article {
    height: 80px;
    padding: 20px;
    margin: 10px;
  
}

img[alt] {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px
}

a {
    
    text-decoration: none;
    color: rgb(245, 245, 245);
    background-color: rgb(14, 119, 255);
    border-radius: 15%;
    display: inline-flex;
    margin : 10px;
    padding: 10px;
   

}

li{
    list-style-type:none;
}

/* 가상클래스 selector */
a:hover {
   
    color: rgb(245, 245, 245);
    background-color: rgb(0, 37, 86);
    border-radius: 15%;
}

footer {
    color: white;
    background-color: black;
}



/* 미디어쿼리 */
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        
        flex-direction: column;
    }
}