/* 전체 요소 모두 선택 */
* {
    margin: 0px;
    padding: 0px;
}

body {

    display: flex;
    justify-content: center;
    align-items: start;
}

main{
    width : 60%;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}

header{
    width :100%;
    height :80px;
    background-color :black;
    color : white;
    display : flex;
    justify-content : center;
    align-items : center;
    padding : 20px;

}